<h1 class="mt-3"> Pipes </h1>
<hr />


<div class="row">
  <div class="col">

    <table class="table">
      <thead class='thead-dark'>
        <tr>
          <th>Variable</th>
          <th>Pipe</th>
          <th>Resultado</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td> {{ nombre }} </td>
          <td> uppercase </td>
          <td> {{ nombre | uppercase }} </td>
        </tr>
        <tr>
          <td> {{ nombre }} </td>
          <td> lowercase </td>
          <td> {{ nombre | lowercase }} </td>
        </tr>
        <tr>
          <td> {{ nombre }} </td>
          <td> slice:2 </td>
          <td> {{ nombre | slice:2 }} </td>
        </tr>
        <tr>
          <td> {{ PI }} </td>
          <td> number </td>
          <td> {{ PI | number:'3.0-0' }} </td>
        </tr>
        <tr>
          <td> {{ PI }} </td>
          <td> number </td>
          <td> {{ PI | number:'2.0-2' }} </td>
        </tr>
        <tr>
          <td> {{ porcentaje }} </td>
          <td> percent </td>
          <td> {{ porcentaje | percent }} </td>
        </tr>
        <tr>
          <td> {{ porcentaje }} </td>
          <td> percent:'.1' </td>
          <td> {{ porcentaje | percent:'.1' }} </td>
        </tr>
        <tr>
          <td> {{ porcentaje }} </td>
          <td> percent:'2.2-2' </td>
          <td> {{ porcentaje | percent:'2.2-2' }} </td>
        </tr>
        <tr>
          <td> {{ salario }} </td>
          <td> currency </td>
          <td> {{ salario | currency }} </td>
        </tr>
        <tr>
          <td> {{ salario }} </td>
          <td> currency </td>
          <td> {{ salario | currency:'EUR' }} </td>
        </tr>
        <tr>
          <td> {{ salario }} </td>
          <td> currency </td>
          <td> {{ salario | currency:'CAD': 'symbol': '.0-0' }} </td>
        </tr>
        <tr>
          <td> {{ fecha }} </td>
          <td> date </td>
          <td> {{ fecha | date }} </td>
        </tr>
        <tr>
          <td> {{ fecha }} </td>
          <td> date:'medium' </td>
          <td> {{ fecha | date:'medium' }} </td>
        </tr>
        <tr>
          <td> {{ fecha }} </td>
          <td> date:'short' </td>
          <td> {{ fecha | date:'short' }} </td>
        </tr>
        <tr>
          <td> {{ fecha }} </td>
          <td> date:'MMMM - dd' </td>
          <td> {{ fecha | date:'MMMM - dd':'':idioma }} </td>
        </tr>

        <tr>
          <td> {{ fecha }} </td>
          <td> date:'short' </td>
          <td> {{ fecha | date:'MMMM - dd':'':idioma }} </td>
        </tr>

        <tr>
          <td> {{ nombre }} </td>
          <td> mayusculas </td>
          <td> {{ nombre | mayusculas }} </td>
        </tr>

        <tr>
          <td> Actividad Contreseña {{ activar }} </td>
          <td> <button class="btn btn-primary" (click)="activar = !activar"> Activar/desactivar</button> </td>
          <td> {{ nombre | contrasena:activar }} </td>
        </tr>

        <tr>
          <td> Capitalizar {{ nombre2 }} </td>
          <td> </td>
          <td> {{ nombre2 | capitalizar }} </td>
        </tr>

        <tr>
          <td> Promesa {{ valorPromesa }} </td>
          <td> </td>
          <td> {{ valorPromesa | async }} </td>
        </tr>

        <tr>
          <td> Json {{ heroe }} </td>
          <td> </td>
          <td>
            <pre>
              {{ heroe | json }}
            </pre>
          </td>
        </tr>
      </tbody>
    </table>

    <h3 class="mt-4"> DomSeguro </h3>
    <hr />

    <div class="row mb-5">
      <div class="col">
        <iframe width="560" height="315" [src]="video | domSeguro" title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
    </div>


  </div>
</div>