<div class="card-columns" *ngFor="let her of heroes">
  <div class="card animated fadeIn fast">
    <img class="card-img-top img-fluid" [src]="her.img" [alt]="her.nombre" />
    <div class="card-body">
      <h4 class="card-title"> {{ her.nombre }} </h4>
      <p class="card-text"> {{ her.bio }} </p>
      <p class="card-text"> <small class="text-muted"> {{ her.aparicion }} </small></p>

      <button type="button" class="btn btn-outline-primary btn-block">
        Ver más...
      </button>
    </div>
  </div>
</div>