<nav class="navbar navbar-expand-md navbar-dark bg-dark bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toogle="collapse"
    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand" href="#">
    <img src="assets/img/A-64.png" width="30" height="30" alt="Logo">
  </a>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive='active' [routerLink]="['login']">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive='active' [routerLink]="['home']">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive='active' [routerLink]="['heroes']">Heroes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive='active' [routerLink]="['about']">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive='active' [routerLink]="['pipes']">Pipes</a>
      </li>
    </ul>
  </div>

  <div class="col-md-3 formularioBuscar">
    <input class="form-control mr-sm-2" type="text" placeholder="Buscar héroe" #buscarTexto />
    <button (click)="buscarHeroe(buscarTexto.value)" class="btn btn-putline-primary my-2 my-sm-0">Buscar</button>
  </div>

  <div class="col-md-2" style="color: #fff">
    <p> {{ persona }} </p>
  </div>


</nav>